@model EnFantastiskBlogg.Models.ViewModels.PostDetailsViewModel

@{
    ViewData["Title"] = "Post";
}

<div class="">
    <div class="row" >
        <div class="col">
            
        
            <div class="card mb-3" style="overflow: hidden">
                <div style="height: 30vh; overflow: hidden">
                    <img style="margin: 0 0 0 0" src="https://www.treehugger.com/thmb/QolJfOYFmxwIH6Sxv5SBqY8Kq-M=/1885x1414/smart/filters:no_upscale()/GettyImages-1273584292-cbcd5f85f4c646d58f7a7fa158dcaaeb.jpg" class="card-img-top img-fluid rounded-start" alt="...">
                </div>

                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(model => model.Post.Title)
                    </h5>
                    <div class="col">
                        <div class="row">
                            <small class="post-details">
                                Author: @Html.DisplayFor(model => model.Post.User.UserName)
                            </small>
                        </div>
                        <div class="row">
                            <small class="text-muted">
                                Created: @Html.DisplayFor(model => model.Post.CreatedDate)
                            </small>
                        </div>
                        <div class="row">
                            <small class="text-muted">
                                Last Updated: @Html.DisplayFor(model => model.Post.UpdatedDate)
                            </small>
                        </div>
                    </div>
                    <div class="col">
                        @if (@Model.Post.User.UserName == User.Identity.Name)
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.PostId">Edit</a>
                        }
                    </div>
                    
                        
                    <hr />
                    <p class="card-text">@Html.DisplayFor(model => model.Post.Body)</p>
                </div>
            </div>

            
            <div class="card mb-3" >
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body card-body">
                            <h5 class="card-title">Write a Comment</h5>

                            <form asp-controller="Comments" asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="@Model.Comment.Title" class="form-control" placeholder="Interesting title..." />
                                    <span asp-validation-for="@Model.Comment.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" asp-for="@Model.Comment.Body" rows="3" placeholder="Your comment..."></textarea>
                                    <span asp-validation-for="@Model.Comment.Body" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="hidden" asp-for="@Model.Comment.PostId" />
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @foreach(var comment in Model.Post.Comments)
            {
                <div class="card mb-3" >
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body card-body">
                                <h5 class="card-title">@comment.Title</h5>
                                <p class="card-text">@comment.Body</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Created: @comment.CreatedDate
                                    </small>
                                </p>         
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        
        @*<div class="col-3">
            @foreach(var comment in Model.Comments)
            {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            }
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Newsletter</h5>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                    </form>
                </div>
            </div>
        </div>*@
        
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Return to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}